@import 'tailwindcss';

@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: 'light';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(98% 0 0);
	--color-base-300: oklch(96% 0.001 286.375);
	--color-base-content: oklch(0% 0 0);
	--color-primary: oklch(42% 0.199 265.638);
	--color-primary-content: oklch(100% 0 0);
	--color-secondary: oklch(42% 0.199 265.638);
	--color-secondary-content: oklch(100% 0 0);
	--color-accent: oklch(42% 0.199 265.638);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(92% 0.004 286.32);
	--color-neutral-content: oklch(0% 0 0);
	--color-info: oklch(68% 0.169 237.323);
	--color-info-content: oklch(100% 0 0);
	--color-success: oklch(62% 0.194 149.214);
	--color-success-content: oklch(100% 0 0);
	--color-warning: oklch(76% 0.188 70.08);
	--color-warning-content: oklch(100% 0 0);
	--color-error: oklch(57% 0.245 27.325);
	--color-error-content: oklch(100% 0 0);
	--radius-selector: 0.25rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: 'dark';
	default: false;
	prefersdark: false;
	color-scheme: 'dark';
	--color-base-100: oklch(14% 0.005 285.823);
	--color-base-200: oklch(21% 0.006 285.885);
	--color-base-300: oklch(27% 0.006 286.033);
	--color-base-content: oklch(92% 0.004 286.32);
	--color-primary: oklch(37% 0.146 265.522);
	--color-primary-content: oklch(92% 0.004 286.32);
	--color-secondary: oklch(37% 0.146 265.522);
	--color-secondary-content: oklch(92% 0.004 286.32);
	--color-accent: oklch(37% 0.146 265.522);
	--color-accent-content: oklch(92% 0.004 286.32);
	--color-neutral: oklch(30% 0 0);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(58% 0.158 241.966);
	--color-info-content: oklch(100% 0 0);
	--color-success: oklch(52% 0.154 150.069);
	--color-success-content: oklch(100% 0 0);
	--color-warning: oklch(79% 0.184 86.047);
	--color-warning-content: oklch(100% 0 0);
	--color-error: oklch(57% 0.245 27.325);
	--color-error-content: oklch(100% 0 0);
	--radius-selector: 0.25rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

html {
	@apply font-sans;
}

@utility modal {
	.modal-box {
		@apply border-neutral border;
	}

	&.modal-open,
	&[open],
	&:target {
		background-color: oklch(0% 0 0 / 0.8);
	}
}

@utility btn-ghost {
	&:hover {
		@apply bg-neutral;
	}
}
